@model IEnumerable<GameShopV3.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card">
                    <img src="~/images/GameImage.jpg" class="card-img-top" alt="Game Image ..">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Price</p>
                        @*<a asp-controller="Cart" asp-action="AddingToCart"
                       asp-route-GameId="@item.Id" asp-route-PlayerEmail="@playerEmail" class="btn btn-primary">Add</a>*@
                    </div>
                </div>
            </div>
        }
    </div>
</div>